@model List<Serie>

<div class="dropdown">
    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Menu series
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (Serie serie in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Home", new { idserie = serie.IdSerie })" class="dropdown-item">@serie.NombreSerie</a>
            </li>
        }
    </ul>
</div>
